html {
    user-select: none;
}

.box {
    justify-content: center;
    max-width: 300px;
    margin: auto;
    left: 50%;
}

.title {
    text-align: center;
    font-weight: bold;
    line-height: 35px;
    font-family: 'Arial';
    color: rgb(66, 66, 66);
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list {
    width: 300px;
}

.listitembox {
    /* border: 1px solid #d0d1d1; */
    width: 300px;
    display: inline-flex;
    justify-content: space-between;
}

.listitem {
    cursor: pointer;
    display: inline-flex;
    font-weight: bold;
    line-height: 35px;
    font-family: 'Arial';
    margin: 20px;
    color: #00d81d;
}

.checked {
    text-decoration: line-through;
    cursor: pointer;
    display: inline-flex;
    font-weight: bold;
    line-height: 35px;
    font-family: 'Arial';
    margin: 20px;
    color: grey;
}

.listdel {
    cursor: pointer;
    align-items: right;
    font-weight: bold;
    line-height: 35px;
    font-family: 'Arial';
    margin: 20px;
    color: red;
}

