* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat';
}

.header {
    font-weight: 900;
    font-size: 30px;
    margin: 0;
    background-color: rgb(142,186,62);
    height: 330px;
    text-align: center;
    line-height: 350px;
    color: white;
}

.body {
    word-wrap: break-word;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    text-align: left;
    line-height: 30px;
    color: rgb(0, 0, 0);
    margin: 19;
}

.subhead {
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(0, 0, 0);
}

.button {
    text-decoration: none;
    font-weight: 900;
    background-color: rgb(142,186,62);
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
} 

.button:hover {
    transition-duration: 0.3s;
    background-color: rgb(184, 219, 119);
} 

.button:active {
    background-color: rgb(216, 226, 196);
} 

.buttonmargin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    color: rgb(142,186,62);
}

.footer {
    margin-top: 30px;
    font-size: 15px;
    background-color: rgb(239,239,239);
    text-align: center;
    line-height: 30px;
    color: rgb(143,143,143);
}